section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.gamebuttons {
    color:black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.r {
    color:purple;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
a {
  border: 5px solid green;
  padding: 10px 20px;
  text-decoration: none;
  background-color: rgb(94, 215, 94);

}